#otr >.head {
   display:none !important
}
#otr .head {
   display:none !important
}
#otr > div.head {
   display:none !important
}

#otr .group .line .right {
    width: 18%;
}

#otr button.btn {
    font-size: .8em;
    /* padding: 0.6em 3em 0.6em 1.2em;*/
    text-transform: uppercase;
    letter-spacing: .1em;
    /*background-image: url(https://module.servicelister.de/otr/static/media/ic_arrow_forward_white_24px.f1be4367.svg);*/
    background-color: #074993;
	background-repeat: no-repeat;
    background-position: center right 0.6em;
    background-size: 1.5em;
}

#otr .group .line .txt>.img>img {
    width: 88%;
    height: auto;
}

#otr .km, #otr .price, #otr>.head, #otr a, #otr button {
    color: #074993;
}